In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from DataPreProcessor import DataPreProcessor

- carico il dataset
- rimuovo i duplicati
- rinomino le colonne

In [ ]:
df= pd.read_csv('./census-income.zip', header= None)
df.shape

In [ ]:
df = df.drop(24, axis=1, errors='ignore').drop_duplicates() 
df.shape

In [ ]:
mapping_cols= {  0: 'age',
                 1: 'class_worker',
                 2: 'industry_code',
                 3: 'occupation_code',
                 4: 'education',
                 5: 'wage_per_hour',
                 6: 'hs_college',
                 7: 'marital_status',
                 8: 'major_ind_code',
                 9: 'major_occ_code',
                 10: 'race',
                 11: 'hisp_origin',
                 12: 'gender',
                 13: 'labor_union_member',
                 14: 'unemployment_reason',
                 15: 'full_or_part_emp',
                 16: 'capital_gains',
                 17: 'capital_losses',
                 18: 'stock_dividends',
                 19: 'tax_filer_stat',
                 20: 'region_prev_res',
                 21: 'state_prev_res',
                 22: 'family_status',
                 23: 'family_summary',
                 25: 'mig_chg_msa',
                 26: 'mig_chg_reg',
                 27: 'mig_move_reg',
                 28: 'mig_same',
                 29: 'mig_prev_sunbelt',
                 30: 'num_employees',
                 31: 'familiars_U18',
                 32: 'country_father',
                 33: 'country_mother',
                 34: 'country_self',
                 35: 'citizenship',
                 36: 'own_business',
                 37: 'vet_question',
                 38: 'vet_benefits',
                 39: 'weeks_worked',
                 40: 'survey_year',
                 41: 'Target'}

In [ ]:
new_columns= []

for col in df:
    new_columns.append(mapping_cols[col])
    
df.columns= new_columns

# Inizializzo la classe DataPreProcessor dal df

In [ ]:
df_dpp = DataPreProcessor(df)

- sostituisco i missing values da ' ?' a na
- controllo il numero totale di na del dataset

In [ ]:
df_dpp.replace_missing_values(' ?')
df_dpp.data.isna().sum().sum()

- plotto la % di na per ogni colonna

In [ ]:
df_dpp.summary_nan()

- creo 2 dataset training e test composte dal 70% e 30% del dataset originale.

In [ ]:
training, test = df_dpp.training_test()

In [ ]:
print(test.shape)
print(training.shape)
print(df_dpp.data.shape)

- uso il metodo fill_na() per sostituire gli na con il valore medio della colonna in caso di variabile numerica, mentre con la moda per variabile non numerica
- plotto nuovamente i valori mancanti per confermare che tutti gli na siano stati sostituiti

In [ ]:
df_dpp.fill_na()
df_dpp.summary_nan()

- uso il metodo run_preprocessing() per eseguire in un passaggio solo tutti i metodi visti in precedenza ad eccezione di quello per vedere il grafico degli na

In [ ]:
tr, te = df_dpp.run_preprocessing(missing_value = ' ?', training = 0.7)

In [ ]:
print(te.shape)
print(tr.shape)
print(df_dpp.data.shape)